/* PAY WITH EQUITY PAGE STYLES */
#pay-tabs {
  .tabbed-section {
    .tab-header {
      margin-bottom: 1rem;
      font-size: 1.2rem;
      font-weight: 700;

      .tab-link {
        cursor: pointer;
        color: #d8b7a0; // light brown
        font-style: italic;
        transition: color 0.3s ease;

        &.active {
          color: #ec6707; // equity orange
        }

        &:hover {
          color: var(--secondary-accent-color);
        }
      }

      .divider {
        margin: 0 0.5rem;
        color: #888;
      }
    }

    .tab-content {
      display: none;
      opacity: 0;
      transition: opacity 0.4s ease;

      &.active {
        display: block;
        opacity: 1;
      }

      .content {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;

        .text {
          flex: 1;

          ul {
            list-style: none;

            li {
              position: relative;
              padding-left: 25px; // space for the image
              margin-bottom: 0.4em;
              &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 6px;
                width: 16px;
                height: 16px;
                background-image: url("../images/solar_arrow-left-broken.png");
                background-size: contain;
                background-repeat: no-repeat;
              }
            }
          }
        }

        .image {
          flex: 1;

          img {
            width: 100%;
            height: 450px;
            object-fit: cover;
            border-radius: 8px;
          }
        }
      }
    }
  }
}
