/* VARIABLE SETTINGS */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --background-color: #ffffff;
  --foreground-color: #000000;
  --foreground-color-light: #282828;
  --primary-accent-color: #f78f1e;
  --secondary-accent-color: #a84d0f;
}

/*GLOBAL SETTINGS*/
* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  box-sizing: border-box;
  max-width: 100vw;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  background: #ffffff;
  font-family: "Raleway", sans-serif;
}

body.no-scroll {
  overflow: hidden;
  transition: all 0.3s ease;
}

::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--foreground-color);
}

h1 {
  font-size: 55px;
  font-weight: 700;
  line-height: 57.5px;
  font-style: italic;
}
h1 span {
  color: var(--primary-accent-color);
}

h2 {
  font-size: 34px;
  font-weight: 700;
  line-height: 42.55px;
  font-style: italic;
}

h4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 27.6px;
}

h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 18.4px;
  text-transform: uppercase;
}

p,
a,
ul {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  outline: none !important;
  cursor: pointer;
}

.container {
  width: 92%;
  margin: 0 auto;
}

/* COMMON SECTIONS */
.body-overlay {
  display: none;
  background-color: var(--secondary-accent-color);
  z-index: 200;
  transition: all 0.5s ease-in;
}
.body-overlay.open {
  display: block;
}

header {
  width: 100%;
  max-width: 100vw;
  height: 70px;
  background: transparent;
  z-index: 105 !important;
  transition: all 0.3s ease;
}
header * {
  z-index: 99;
}
header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
header .container {
  height: 100%;
}
header .container .logo {
  height: 60px;
  width: 214px;
  margin: 0.5em 0;
}
header .container .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
header .container .main-menu {
  height: 100%;
}
header .container .main-menu .menu-links {
  height: 100%;
}
header .container .main-menu .menu-links .menu-link {
  display: flex;
  align-items: center;
  margin-right: 1.5em;
  height: 100%;
  transition: all 0.3s ease-in;
}
header .container .main-menu .menu-links .menu-link a {
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 400;
  color: var(--foreground-color);
}
header .container .main-menu .menu-links .menu-link:last-of-type {
  margin-right: 0;
}
header .container .main-menu .menu-links .menu-link:hover a {
  color: var(--primary-accent-color);
}
header .container .main-menu .menu-links .menu-item-has-children {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 1.8em;
}
header .container .main-menu .menu-links .menu-item-has-children::after {
  content: url("../images/uim_angle-down.png");
  position: absolute;
  top: 39%;
  right: -15px;
  width: auto;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
header .container .main-menu .menu-links .menu-item-has-children .sub-menu {
  display: none;
  width: auto;
  min-width: 150px;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--primary-accent-color);
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  z-index: 5;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
header .container .main-menu .menu-links .menu-item-has-children .sub-menu .menu-link {
  height: 50px;
  margin-right: 0;
  padding: 1em;
  border-top: none !important;
}
header .container .main-menu .menu-links .menu-item-has-children .sub-menu .menu-link a {
  width: 100%;
  height: 100%;
  color: var(--background-color);
  white-space: nowrap;
}
header .container .main-menu .menu-links .menu-item-has-children .sub-menu .menu-link:last-of-type {
  margin-bottom: 0;
}
header .container .main-menu .menu-links .menu-item-has-children .sub-menu .menu-link:hover {
  border: none !important;
  background-color: var(--secondary-accent-color);
}
header .container .main-menu .menu-links .menu-item-has-children:hover .sub-menu {
  display: block;
}
header .container .header-links {
  position: relative;
}
header .container .header-links #menu-open {
  cursor: pointer;
}
header .container .header-links #menu-open p {
  transition: all 0.3s ease-in-out;
  color: var(--foreground-color);
  font-weight: normal;
  font-size: 16px;
}
header .container .header-links #menu-open:hover p {
  color: var(--primary-accent-color);
  font-weight: 600;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  background: var(--background-color);
  border-right: 1px solid rgba(0, 0, 0, 0.1058823529);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  pointer-events: none;
  display: block;
  flex-direction: column;
  transition: all 0.6s ease-in-out;
  z-index: 999;
}
.mobile-menu .container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1em 1.2em;
  opacity: 0;
  transition: all 0.4s ease-in;
}
.mobile-menu .container .menu-links {
  width: 100%;
  list-style: none;
  padding: 0;
}
.mobile-menu .container .menu-links .menu-link {
  position: relative;
  width: 100%;
}
.mobile-menu .container .menu-links .menu-link a {
  width: 100%;
  display: block;
  padding: 1em 0;
  color: var(--foreground-color);
  font-weight: 700;
  font-style: italic;
  text-decoration: none;
  cursor: pointer;
}
.mobile-menu .container .menu-links .menu-link a:hover {
  color: var(--primary-accent-color);
}
.mobile-menu .container .group-btn {
  background-color: var(--primary-accent-color);
  transition: all 0.3s ease-in-out;
}
.mobile-menu .container .group-btn img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
.mobile-menu .container .group-btn:hover {
  background-color: var(--secondary-accent-color);
}
.mobile-menu.open {
  width: 300px;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.mobile-menu.open .container {
  opacity: 1;
}

footer {
  background-color: var(--secondary-accent-color);
}
footer .footer-btn {
  background-color: var(--primary-accent-color);
  border: 1px solid var(--primary-accent-color);
  transition: all 0.3s ease-in-out;
}
footer .footer-btn:hover {
  background-color: var(--secondary-accent-color);
  border: 1px solid var(--primary-accent-color);
}
footer .footer-link {
  transition: all 0.3s ease-in-out;
}
footer .footer-link:hover {
  color: var(--primary-accent-color);
}

/*MAIN PAGE STYLES*/
#banner {
  width: 100%;
  height: 92vh;
  overflow-x: hidden;
  z-index: 1;
  position: relative;
  /* Change color on hover */
}
#banner .swiper-wrapper {
  height: 100%;
  max-height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
#banner .swiper-slide {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
}
#banner .swiper-slide .ellipse {
  width: auto;
  height: 60%;
  bottom: 0;
  right: 8%;
  z-index: 0;
}
#banner .swiper-slide .slide-content {
  width: 41%;
}
#banner .swiper-slide .slide-content .tagline {
  margin-bottom: 0.5em;
}
#banner .swiper-slide .slide-content .tagline .left,
#banner .swiper-slide .slide-content .tagline .right {
  width: 43px;
  height: 3px;
}
#banner .swiper-slide .slide-content .tagline .right {
  background-color: var(--primary-accent-color);
}
#banner .swiper-slide .slide-content .tagline .left {
  background-color: var(--secondary-accent-color);
}
#banner .swiper-slide .slide-content .tagline p {
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--foreground-color);
}
#banner .swiper-slide .slide-content .banner-btn {
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--primary-accent-color);
  color: var(--background-color);
  padding: 7px 14px;
  border-radius: 30px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
#banner .swiper-slide .slide-content .banner-btn img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
#banner .swiper-slide .slide-content .banner-btn:hover {
  background-color: var(--secondary-accent-color);
  color: var(--background-color);
  transform: scale(1.05);
}
#banner .swiper-slide .image-container {
  position: relative;
  align-self: flex-end;
  width: 50%;
  max-width: 50%;
  height: 90%;
}
#banner .swiper-slide .image-container img.main-image {
  width: auto;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
}
#banner .swiper-slide .image-container .mini-image {
  width: 50%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 2;
}
#banner .swiper-pagination {
  bottom: 20px;
}
#banner .swiper-button-prev,
#banner .swiper-button-next {
  position: absolute;
  top: 75%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid var(--primary-accent-color);
  color: var(--primary-accent-color);
  font-size: 20px;
  z-index: 10;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
#banner .swiper-button-prev:after,
#banner .swiper-button-next:after {
  display: none;
}
#banner .swiper-button-prev {
  left: 88%;
}
#banner .swiper-button-next {
  left: 92%;
}
#banner .swiper-button-prev:hover,
#banner .swiper-button-next:hover {
  background-color: var(--secondary-accent-color);
  border-color: var(--secondary-accent-color);
  color: var(--background-color);
}

#quick-tools {
  margin-top: -2em;
}
#quick-tools .container .card {
  width: 100%;
  height: 90px;
  position: relative;
  border-radius: 10px;
}
#quick-tools .container .card .content {
  padding: 10px;
  z-index: 1;
}
#quick-tools .container .card .content .arrow {
  width: 27px;
  height: 27px;
  background-color: var(--background-color);
  border-radius: 100%;
}
#quick-tools .container .card .content .arrow img {
  width: 15px;
  height: 15px;
  transform: rotate(-45deg);
}
#quick-tools .container .card .content h5 {
  font-size: 18px;
  font-weight: 700;
  line-height: 18.4px;
  color: var(--background-color);
  font-style: italic;
  text-transform: capitalize;
}
#quick-tools .container .card .bg-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0.5;
}
#quick-tools .container .card:nth-of-type(1), #quick-tools .container .card:nth-of-type(4) {
  background-color: var(--primary-accent-color);
}
#quick-tools .container .card:nth-of-type(2), #quick-tools .container .card:nth-of-type(5) {
  background-color: var(--secondary-accent-color);
}
#quick-tools .container .card:nth-of-type(3), #quick-tools .container .card:nth-of-type(6) {
  background-color: var(--foreground-color);
}

#services .container h2 {
  color: var(--secondary-accent-color);
}
#services .container .service-cards-grid .card {
  width: 100%;
  min-height: 350px;
  position: relative;
  border-radius: 30px;
}
#services .container .service-cards-grid .card .content {
  z-index: 2;
}
#services .container .service-cards-grid .card .content .arrow {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
#services .container .service-cards-grid .card .content .arrow img {
  width: 20px;
  height: 20px;
}
#services .container .service-cards-grid .card .content .inner-content {
  border-radius: 20px;
  color: var(--background-color);
  padding: 1.1em;
}
#services .container .service-cards-grid .card .content .inner-content .content-bg {
  border-radius: 20px;
  opacity: 0.6;
  z-index: -1;
}
#services .container .service-cards-grid .card .content .inner-content .wrapper {
  z-index: 3;
}
#services .container .service-cards-grid .card .content .inner-content .wrapper h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  font-style: italic;
  text-transform: capitalize;
  margin-bottom: 0.5em;
}
#services .container .service-cards-grid .card .bg-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 30px;
}

#do-more .bg {
  z-index: 0;
}
#do-more .container {
  z-index: 3;
}
#do-more .container * {
  z-index: 3;
}
#do-more .container h2 {
  color: var(--secondary-accent-color);
  z-index: 5;
}
#do-more .container .do-more-items,
#do-more .container .do-more-items-reverse {
  display: grid;
  grid-gap: 1.5em;
}
#do-more .container .do-more-items .item,
#do-more .container .do-more-items-reverse .item {
  width: 100%;
  height: 300px;
  border-radius: 30px;
}
#do-more .container .do-more-items .item .bg,
#do-more .container .do-more-items-reverse .item .bg {
  z-index: -1;
  border-radius: 30px;
}
#do-more .container .do-more-items .item .tagline,
#do-more .container .do-more-items-reverse .item .tagline {
  font-weight: 400;
  font-style: italic;
  color: var(--background-color);
  text-decoration: underline;
}
#do-more .container .do-more-items .item h4,
#do-more .container .do-more-items-reverse .item h4 {
  color: var(--background-color);
  font-style: italic;
}
#do-more .container .do-more-items .item .item-btn,
#do-more .container .do-more-items-reverse .item .item-btn {
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--primary-accent-color);
  color: var(--background-color);
  padding: 7px 14px;
  border-radius: 30px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
#do-more .container .do-more-items .item .item-btn img,
#do-more .container .do-more-items-reverse .item .item-btn img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
#do-more .container .do-more-items .item .item-btn:hover,
#do-more .container .do-more-items-reverse .item .item-btn:hover {
  background-color: var(--secondary-accent-color);
  color: var(--background-color);
  transform: scale(1.05);
}
#do-more .container .do-more-items {
  grid-template-columns: 1fr 2fr;
}
#do-more .container .do-more-items-reverse {
  grid-template-columns: 2.5fr 1fr;
}/*# sourceMappingURL=style.css.map */